/* .main {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 6rem;
    min-height: 100vh;
} */

/* .center {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    padding: 4rem 0;
} */

/* .h1 {
    color: rgb(255, 208, 0);
}
.header {
    background-color: #212121;
    color: #fff;
    width: 100%;
    padding: 50px 0px 50px;
    text-align: center;
    justify-content: center;
} */